.footer__column-link_type_vk {
    background-image: url("../../../../images/vk_color_white.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 0 50%;
    padding: 0 0 0 26px;
  }