.footer__column-link_type_youtube {
    background-image: url("../../../../images/youtube-icon.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 0 50%;
    padding: 0 0 0 26px;
  }